header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.form-btn {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.memeText {
    font-family: impact, sans-serif;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}